<div class="back-button-container">
    <a href="{% url 'Founder_dashboard' %}" class="back-button">
        <i class="fas fa-arrow-left"></i>
        <span>Back</span>
    </a>
</div>

{% block title %}Donation Data - Humble Hand Foundation{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Donation Data</h2>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Donation Statistics</h5>
                    <p class="text-muted">Donation data will be displayed here.</p>
                    <br>
                    <br><br><br>
                    <h1>Donation Data feature is under development</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 